
#front-news {

    padding: 30px 0 50px;

    h2 {
        font-size: 18pt;
        font-weight: 300;
    }

    #news-list {
        margin: 50px auto;
        max-width: 300px;

        h3 {
            font-size: 14pt;
            text-align: center;
            font-weight: bold;
        }

        .img-placeholder {
            width: 100%;
            height: 125px;
            margin-bottom: 10px;
            display: block;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .news-other {
            margin-bottom: 25px;  
        }

        .news-first {

            @extend .news-other;

            .img-placeholder {
                height: 125px;
                margin: 0;
            }
        }

        .news-content {
            font-size: 9pt;
        }

        .editor-placeholder {

            font-size: 9pt;

            img {
                width: 30px;
                margin-right: 10px;
            }

        }
    }

    .see-all {
        font-size: 10pt;
        text-align: center;
    }

    @media (min-width: $screen-xs-min) {

        padding: 60px 0 90px;
        
        h2 {
            font-size: 22.5pt;
        }

        #news-list {

            .img-placeholder {
                height: 175px;
            }

            .news-content {
                font-size: 10.5pt;
            }

            .editor-placeholder {

                font-size: 10.5pt;

                img {
                    width: 40px;
                }

            }

        }

        .see-all {
            font-size: 14pt;
        }

    }

    @media (min-width: $screen-sm-min) {

        #news-list {

            max-width: 100%;

            h3 {
                font-size: 18pt;
                text-align: left;
            }

            .img-placeholder {
                height: 142px;

                img {
                    width: 100%;
                }
            }

            .news-other {
                margin-bottom: 0;
            }
            
            .news-first {
            
                margin-bottom: 25px;

                .img-placeholder {
                    height: 300px;
                }

            }

        }

    }

    @media (min-width: $screen-lg-min) {
        
        #news-list {
            width: 900px;
        }

    }

}
