
#front-sponsors {

    %sponsor-item {
        margin: 5px;
        display: inline-block;
        vertical-align: middle;

        @media (min-width: $screen-xs-min) {
            margin: 10px;
        }
    }

    padding: 30px;
    margin-bottom: 30px;
    background-color: #fff;

    h2 {
        font-size: 11pt;
    }

    .sponsors-list {
        margin-top: 40px;
    }

    .sponsor-item {
        @extend %sponsor-item;
        max-height: 50px;
        max-width: 100px;
    }

    .media-partner-item {
        @extend %sponsor-item;
        max-height: 40px;
        max-width: 90px;
    }

    .sponsors-container {
        margin-bottom: 50px;
    }

    .media-partners-container {
        margin-top: 50px;
    }

    @media (min-width: $screen-xs-min) {

        padding: 50px;

        h2 {
            font-size: 15pt;
        }

        .sponsor-item {
            max-height: 85px;
            max-width: 170px;
        }

        .media-partner-item {
            max-height: 65px;
            max-width: 140px;
        }

    }

}
