
#front-footer {
    padding: 20px 0;
    box-shadow: 0px 5px 10px 1px rgba(221,115,34,0.5);
    text-align: center;

    .upper-yard {
        padding: 20px 0 10px;

        & > :first-child {
            margin-top: 21px;
        }
    }

    .middle-yard {
        padding-top: 10px;

        h3 {
            margin: 0 0 10px;
        }
    }

    .lower-yard {
        font-size: 9pt;
        padding: 20px 0;
    }

    .footer-links {
        margin-top: 20px;

        h3 {
            font-size: 14pt;
        }

        ul {
            font-size: 9pt;
        }
    }

    .footer-img {
        margin-bottom: 7px;
        vertical-align: bottom;

        &.logo-citeup {
            height: 30px;
        }

        &.logo-up {
            margin-right: 20px;
            height: 50px;
        }
    }

    .socmeds {
        a {
            margin-right: 8px;
        }
    }

    @media (min-width: $screen-xs-min) {

        .footer-links {
            
            h3 {
                font-size: 18pt;
            }

            ul {
                font-size: 10.5pt;
            }

        }

        .footer-img {

            &.logo-citeup {
                height: 40px;
            }

            &.logo-up {
                height: 75px;
            }

        }

        .lower-yard {
            font-size: 10.5pt;
        }

    }

    @media (min-width: $screen-sm-min) {

        .footer-img {
            margin-bottom: 20px;
        }
        
        text-align: left;

        .footer-links {
            margin-top: 0;
        }

    }
}
