
.short-middle-bar {
    width: 400px;
    border-color: #ddd;
    margin-top: 0;
    margin-bottom: 0;
}

@import "landing/welcometron";
@import "landing/about";
@import "landing/activities";
@import "landing/prizes";
@import "landing/map";
@import "landing/faq";
@import "landing/news";
@import "landing/contact";
@import "landing/sponsors";
